[user]
	name = Alex Rothenberg
	email = alex@alexrothenberg.com
[color]
	ui = true

[core]
	editor=emacs
	excludesfile = /Users/alex/.gitignore
#        whitespace = trailing-space,space-before-tab

[init]
#	templatedir = ~/.git_templates

[apply]
  whitespace = fix

[alias]
  co = checkout
  ci = commit
  st = status
  br = branch
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  type = cat-file -t
  dump = cat-file -p
  wdiff = diff --word-diff
  l = log --graph --pretty=format:'%Cred%h%Creset %an: %s - %Creset %C(yellow)%d%Creset %Cgreen(%cD)%Creset' --abbrev-commit --date=relative

[push]
  # Push current branch even if you've never pushed it before
  default = current
[url "https://github.com"]
	insteadOf = git://github.com
